@keyframes themeColorCycle {
	0%,
	100% {
		fill: #823fff;
	}
	33% {
		fill: #e018ff;
	}
	66% {
		fill: #6f00ff;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animation {
	0%,
	100% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}
}
@keyframes moving-light {
    0% {
      box-shadow: 0 0 10px 2px #e018ff, 0 0 30px 4px #e018ff;
    }
    50% {
      box-shadow: 0 0 20px 4px #e018ff, 0 0 40px 8px #e018ff;
    }
    100% {
      box-shadow: 0 0 10px 2px #e018ff, 0 0 30px 4px #e018ff;
    }
  }
